
header {
    background-color: rgb(234, 240, 240);
}


form{
    background-color: rgb(2, 14, 15);
    width: 80%;
    height: 2000px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border: 10px solid #222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.six-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fields{
    display: flex;
    flex-direction: column;
  }

  label{
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: #dedede;
    font-size: 14px;
  }

  .sel {
  

    background: #a8f2f290;
    
    padding: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: rgb(66, 62, 62);

}

p {
    color: #dedede;
    font-size: 20px;
}

.wrapper {
    border: 1px solid #4b00ff;
    border-right: 0;
  }
  
  .signature {
    background: rgb(163, 240, 146);
    position: relative;
    width: 450px;
    height: 150px;
    cursor: crosshair;
  }


  
  
  button{
    padding: 25px;
    background: #1baea990;
    border: none;
    font-size: 15px;
    
    color: #fff;
    
  }
  
  button:hover{
    padding: 15px 70px;
    background: #1baea9;
  }
  
