*{
  font-family: Arial, Helvetica, sans-serif;
}


h2{
  font-style: italic;
  color: blue;
  text-align: center;

}


form{
  background-color: #333;
  width: 80%;
  height: 2000px;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  border: 10px solid #222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.six-columns{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.fields{
  display: flex;
  flex-direction: column;
}

label{
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #dedede;
  font-size: 14px;
}

p {
  color: #dedede;
  font-size: 14px;
}

input,textarea{
  background: transparent;
  
 
  padding: 10px;
  color: #fff;
  transition: all 0.3s;
}



input:focus,
textarea:focus{
  outline: none;
}

input:focus{
  border-bottom: 2px solid rgba(255, 255, 255, 1);
}

textarea{
  resize: none;
  border: 2px solid rgba(255, 255, 255, 0.5);
  flex-basis: 100px;
  transition: all 0.3s;
}

textarea:focus{
  border: 2px solid rgba(255, 255, 255, 1);
}

.btn{
  display: flex;
  justify-content: center;
}

button{
  padding: 15px 40px;
  background: #1baea990;
  border: none;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover{
  padding: 15px 70px;
  background: #1baea9;
}

.sel {
  

      background: #d6e7e690;
      
      padding: 10px;
      cursor: pointer;
      text-align: center;
      line-height: 30px;
      font-size: 12px;
      color: rgb(12, 11, 11);
  
}

.wrapper {
  border: 1px solid #4b00ff;
  border-right: 0;
}

.signature {
  background: #fff;
  position: relative;
  width: 450px;
  height: 150px;
  cursor: crosshair;
}

@media only screen and (max-width: 600px) {
  .signature {
    width: 100px;
    height: 150px;
  }
  
}
